.data
.env
.env.*
.git
.github
.npmrc
.pnpmrc
.yarnrc*
dist
**/dist
**/release
**/target
node_modules
**/node_modules
coverage
*.log
*.key
*.p12
*.pfx
*.pem
profile.json
**/profile.json
secrets
.DS_Store
